@import '_transition.styl'
$defaut-color = #ff3358
.clearfix
  overflow auto
  _height 1%

.img-wrap
  font-size 0

.img-response
  width 100%

.vux-header
  border-bottom .01rem solid #e0e0e0

.fix-header
  position sticky
  top 0
  left 0
  z-index 99
  width 100%
  background-color #fff

.fix-container
  position absolute
  top .47rem
  left 0
  z-index 9
  width 100%

input
  font-size .14rem

input::-webkit-input-placeholder
  font-size .14rem
  vertical-align bottom
  line-height .24rem
